header.header-container {
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 160px;
  background-color: #a13ded;
  background-image:url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  font-family: 'Source Sans pro', sans-serif;
}

.header-avatar {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-name {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}